@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Handlee&family=Henny+Penny&family=Merienda:wght@400;700&family=Original+Surfer&display=swap");
.styleHeader {
  display: flex;
  align-items: center;
  background: #fde021; }
  .styleHeader img {
    width: 100%;
    height: 40%;
    opacity: 60%;
    margin-bottom: 20px; }

.logo {
  display: flex;
  align-items: center; }
  .logo img {
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px; }
