@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Handlee&family=Henny+Penny&family=Merienda:wght@400;700&family=Original+Surfer&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

h1, h2{
	font-family: 'Henny Penny', cursive;
	text-align: center;
	color: rgb(224, 31, 143);
	font-size: 1.6rem;
	margin: 10px;
}

p{
	font-family: 'Original Surfer', cursive;
	text-align: justify;
	font-size: 1rem;
	color: #4f4d63;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
}

footer{
	display: flex;
	flex-direction: inline;
	min-height: 50px;
	background: rgb(101, 93, 198);
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-family: Handlee;
	font-weight: bold;
}

.navLink{
	text-decoration: none;
	margin: 3px 8px;
	font-family: 'Handlee', cursive;
	color: rgb(101, 93, 198);
	font-weight: 900;
	padding: 1px 6px;
}

.navLink:hover{
	text-decoration: none;
	font-weight: bold;
	background-color: #fce57e;
	color: white;
	padding: 1px 6px;
	transition: 0.5s;
}

.styleHeader{
	display: flex;
	align-items: center;
}

.styleHeader img{
	width: 100%;
	height: 40%;
	opacity: 60%;
	margin-bottom: 20px;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	height: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.logoRedes{
	display: flex;
	align-items: center;
}

.logoRedes img{
	height: 30px;
	margin-right: 10px;
}

.label{
	color:#ffffff
}

.footerMap{
	color: #ffffff;
}

.footerMap:hover{
	color: #E31D93;
	transition: 0.5s;
}

.styleSection{
	width: 300;
	height: 500;
	display: flex;
	flex-direction: column;
	background: transparent;
	padding: 10px;
	justify-items:	space-between;
}

.styleImgFlt{
	display: flex;
	align-items: center;
	max-width: 250px;
	height: auto;
	margin: auto;
}

.content{
	display: flex;
	width: 100%;
	justify-content: center;
}

.contentSend{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-items: center;
}

.formStyle{
	font-family: 'Handlee', cursive;
	padding: 20px;
	width: 100%;
	background: transparent;
	border: none;
	margin: 10px auto;
	display: flex inline-block;
}

.style{
	font-family: 'Original Surfer', cursive;
	color: #4f4d63;
}
.accesorios{
	display: none;
}
.check:checked + .accesorios{
	font-family: 'Original Surfer', cursive;
	color: #4f4d63;
	display:inline;
}

.boton{
	font-family: 'Original Surfer', cursive;
	color: #4f4d63;
	display: inline;
	padding: 3px;
}

.botonSend{
	width: 80px;
	font-family: 'Original Surfer', cursive;
	color: #4f4d63;
	margin: 10px;
	padding: 3px;
}

.textZone{
	display: flex;
	margin: 10px;
}

.mapa{
	display: flex;
	width: 100%;
	padding: 5%;
}


/* class bootstrap */

.backnav{
	background: rgb(253, 224, 33);
}

.bot-nav{
	margin-bottom: 5px;
}

.just-nav{
	display: flex;
	justify-items: space-between;
}

.disp-link{
	display: flex;
	flex-direction: row;
}

.boton{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	margin: 0 5px;
	background: #E31D93;
	color: #ffffff;
	font-family: 'Handlee', cursive;
	font-size: .8rem;
	font-weight: 600;
	border: none;
	transition: .3s ease all;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
}

.boton span{
	position: relative;
	z-index: 2;
	transition: 2s;
}

.boton:after{
	content: "";
	width: 100%;
	height: 100%;
	background: rgb(101, 93, 198);
	position: absolute;
	z-index: 1;
	top: -30px;
	left: 0;
	transition: .3s ease-in-out;
}


.boton:hover::after{
	top: 0;

}







@media screen and (max-width: 768px) {
	.galeriaflex{
		display: none;
	}
}















@media screen and (min-width: 769px) {
	.galeriaBoo{
		display: none;
	}
}