//Colores
$clr-morado: rgb(101, 93, 198); //color principal
$clr-amarillo: rgb(253, 224, 33); //color secundario
$clr-fiusha: rgb(224, 31, 143);//color que destaca
$clr-gris: rgb(79, 77, 99); //color de font
$clr-blanco: rgb(255, 255, 255); //color general

//fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Handlee&family=Henny+Penny&family=Merienda:wght@400;700&family=Original+Surfer&display=swap');

$principal: 'Handlee', cursive;
$parrafos: 'Original Surfer', cursive;
$titulos: 'Henny Penny', cursive;