//Colores
$mainColor: rgb(101, 93, 198); //color principal
$bgColor: rgb(253, 224, 33); //color secundario
$keyColor: #8787;//color que destaca
$grey: #804421; //se asignan colores específicos
$white: #fff;//se asignan colores específicos
$black: #998765; //se asignan colores específicos

//fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Handlee&family=Henny+Penny&family=Merienda:wght@400;700&family=Original+Surfer&display=swap');

$mainFont: 'Handlee', cursive;
$parrafos: 'Original Surfer', cursive;
$titulos: 'Henny Penny', cursive;