//fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Handlee&family=Henny+Penny&family=Merienda:wght@400;700&family=Original+Surfer&display=swap');

$principal: 'Handlee', cursive;
$parrafos: 'Original Surfer', cursive;
$titulos: 'Henny Penny', cursive;

//maps
$pal:(
	'morado':#655dc6,
	'amarillo':#fde021,
	'fiusha':#e01f8f,
	'gris':#4f4d63,
	'blanco':#ffffff,
);