//html general
html{
	position: relative;
	min-height: 100%;
}

a{
	text-decoration: none;
}

h1, h2{
	font-family: $principal;
	text-align: center;
	color: $clr-fiusha;
	font-size: 1.6rem;
	margin: 10px;
}

p{
	font-family: $parrafos;
	text-align: justify;
	max-width: 600px;
	font-size: 1rem;
	color: $clr-gris;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

// body
body{
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // min-height: 100vh;
	margin: 0 auto 60px;
}

// header
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: $clr-amarillo;
}


//footer
footer{
	position: absolute;
	margin-top: 50px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: $clr-morado;
	display: flex;
	flex-direction: inline;
	min-height: 50px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-family: $principal;
	font-weight: bold;
}