//html general
html{
	position: relative;
	min-height: 100%;
}

a{
	text-decoration: none;
}

h1, h2{
	font-family: $principal;
	text-align: center;
	color: map-get($map:$pal, $key: 'fiusha');
	font-size: 1.6rem;
	margin: 10px;
}

p{
	font-family: $parrafos;
	text-align: justify;
	max-width: 600px;
	font-size: 1rem;
	color: map-get($map:$pal, $key: 'gris');
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

// body
body{
    // display: grid;
    // min-height: 100vh;
	// grid-template-rows: auto 1fr auto;
	margin: 0 auto 60px;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
}

// header
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: map-get($map:$pal, $key: 'amarillo');
}


//footer
footer{
	// position: absolute;
	// margin-top: auto;
	// left: 0;
	// bottom: 0;
	// width: 100%;
	// height: 60px;
	// background: map-get($map:$pal, $key: 'morado');
	// display: flex;
	// flex-direction: inline;
	// min-height: 50px;
	// justify-content: space-between;
	// align-items: center;
	// padding: 10px;
	// font-family: $principal;
	// font-weight: bold;
}