//
@mixin logo ($display,$al-items,$height,$mrg-rgt,$mrg-bttm) {
    display: $display;
    align-items: $al-items;
    img{
        height: $height;
        margin-right: $mrg-rgt;
        margin-bottom: $mrg-bttm;
    }
}

@mixin mapa ($display,$width,$padding) {
    display: $display;
    width: $width;
    padding: $padding;    
}

@mixin small {
    @media only screen and (max-width: 325px) {
        @content;
    }
}

@mixin small1 {
    @media only screen and (min-width: 326px) {
        @content;
    }
}

@mixin carousel {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin carousel1 {
    @media only screen and (max-width: 767px) {
        @content;
    }
}