//footer

.logoRedes{
	display: flex;
	align-items: center;
}

.logoRedes img{
	height: 30px;
	margin-right: 10px;
}

.labelsm{
	@include small {
		display: none;
	}
	color: map-get($map: $pal, $key: 'blanco');
	text-align: center;
}

.label{
	@include small1{
		display: none;
	}
	color: map-get($map: $pal, $key: 'blanco');
	text-align: center;
}

.footerMap{
	color: map-get($map: $pal, $key: 'blanco');
}

.footerMap:hover{
	color: map-get($map: $pal, $key: 'fiusha');
	transition: 0.5s;
}

#btn-mas{
	display: none;
}

.contenedor{
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.contenedorup{
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.icon-angle-circled-up{
	cursor: pointer;
	background: map-get($map:$pal, $key: 'morado');
	font-size: 23px;
}

.redes a, .icon-plus, .icon-angle-circled-up{
	display: block;
	text-decoration: none;
	background: map-get($map:$pal, $key: 'morado');
	color: map-get($map:$pal, $key: 'blanco');
	font-size: 23px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
	transition: all 500ms ease;
}

.redes a:hover{
	background: map-get($map:$pal, $key: 'amarillo');
	color: map-get($map:$pal, $key: 'morado');;
}

.redes a{
	margin: -20px 0;
	opacity: 0;
	visibility: hidden;
}

#btn-mas:checked~ .redes a{
	margin: 20px 0px; 
	opacity: 1;
	visibility: visible;
}

.icon-plus{
	cursor: pointer;
	background: map-get($map:$pal, $key: 'morado');
	font-size: 23px;
	z-index: 10001;
}

#btn-mas:checked ~ .btn-mas .icon-plus{
	transform: rotate(137deg);
	font-size: 23px;
}

#btn-mas:checked~ .redes a{
	margin: 20px 0px; 
	opacity: 1;
	visibility: visible;
}

#btn-mas:checked ~ .btn-mas .icon-plus{
	transform: rotate(137deg);
	font-size: 23px;
}