//formularios
.formStyle{
	font-family: $principal;
	color: map-get($map:$pal, $key: 'morado');
	padding: 0 5px;
	width: 100%;
	margin: 10px 0;
	display: inline-block;
	justify-content: center;
}

.style{
	font-family: $parrafos;
	color: map-get($map: $pal, $key: 'gris');
	display: inline-block;
	justify-content: center;
}
.accesorios{
	display: none;
}

.check:checked + .accesorios{
	font-family: $parrafos;
	color: map-get($map: $pal, $key: 'gris');
	display:inline;
}

.textZone{
	display: flex;
}

.mapa{
	@include mapa (flex,100%,5%)
}