//footer

.logoRedes{
	display: flex;
	align-items: center;
}

.logoRedes img{
	height: 30px;
	margin-right: 10px;
}

.label{
	color: map-get($map: $pal, $key: 'blanco');
}

.footerMap{
	color: map-get($map: $pal, $key: 'blanco');
}

.footerMap:hover{
	color: map-get($map: $pal, $key: 'fiusha');
	transition: 0.5s;
}