//header
.headerNav{
	background-image: url(../src/bgheader.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

//logo
.logo{
    @include logo(flex,center,50px,10px,10px)
}

//navbar
.backnav{
	width: 100%;
}

.bot-nav{
	margin-bottom: 5px;
}

.just-nav{
	display: flex;
	justify-items: space-between;
}

.disp-link{
	display: flex;
	flex-direction: row;
}

//imagen
.styleHeader{
	display: flex;
	align-items: center;
    img{
        width: 100%;
        max-height: 40%;
        opacity: 60%;
        margin-bottom: 20px;
    }
}