//formularios
.formStyle{
	font-family: $principal;
	color: map-get($map:$pal, $key: 'morado');
	padding: 0px;
	width: 100%;
	text-align: center;
	margin: 10px 0;
	display: inline-block;
	justify-items: center;
}

.formStyle_1{
	font-family: $principal;
	color: map-get($map:$pal, $key: 'morado');
	padding: 0px;
	width: 100%;
	margin: 10px 0;
	display: inline-block;
	justify-items: center;
}

.style{
	font-family: $parrafos;
	color: map-get($map: $pal, $key: 'gris');
	display: inline-block;
	justify-content: center;
}
.accesorios{
	display: none;
}

.check:checked + .accesorios{
	font-family: $parrafos;
	color: map-get($map: $pal, $key: 'gris');
	display:inline;
}

.textZone{
	display: flex;
}

.mapa{
	@include mapa (flex,100%,5%)
}


.textfnl{
	color: map-get($map: $pal, $key: 'morado');
}

.textfnl:hover{
	color: map-get($map: $pal, $key: 'fiusha');
	transition: 0.5s;
}