@media screen and (max-width: 767px) {
	.galeriaflex{
		display: none;
	}

}

@media screen and (min-width: 768px) {
	.galeriaBoo{
		display: none;
	}

	.logo{
		@include logo(flex,center,80px,10px,10px)
	}

}

@media (min-width: 720px) and (max-width: 991.98px){
	.mdoculto{
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.galeriaBoo{
		display: none;
	}

	.lgoculto{
		display: none;
	}

	.logo{
		@include logo(flex,center,80px,10px,10px)
	}

	.spaces{
	max-width: 1100px;
	margin: auto;
	}

	.cont-grid{
		display: grid;
		width: 100%;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		grid-template-areas: 
		"forma forma forma mapa mapa";
		justify-items: stretch;
	}

	.titulo{
		grid-area: titulo;
	}

	.forma{
		grid-area: forma;
	}

	.map-g{
		grid-area: mapa;
	}
}