//extends
.boton{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 30px;
	margin: 0 5px;
	background: map-get($map:$pal, $key: 'fiusha');
	color: map-get($map:$pal, $key: 'blanco');
	font-family: $principal;
	font-size: .8rem;
	font-weight: 600;
	border: none;
	transition: .4s ease all;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	span{
		position: relative;
		z-index: 2;
		transition: 2s;
		}
}

.boton:after{
	content: "";
	width: 100%;
	height: 100%;
	background: map-get($map: $pal, $key:'morado' );
	position: absolute;
	z-index: 1;
	top: -30px;
	left: 0;
	transition: .3s ease-in-out;
}

.boton:hover::after{
	top: 0;
}

.botonSend{
    @extend .boton;
    margin: 10px;
}

.botonSend:after{
    @extend .boton:after
}

.botonSend:hover::after{
    @extend .boton:hover::after;
}
