<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nunilu - Diseños Mágicos</title>
		<link rel="shortcut icon" href="../img/favicon.jpg">
		<!-- Bootstrap -->
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../CSS/menuresp.css">
	</head>
	<body>
		<header>
			<!-- nav -->

			<nav class="navbar navbar-expand-lg navbar-light backnav d-flex justify-content-between">
				<div class="container-fluid">
					<a id="logo" href="../index.html" class="logo">
						<img class="logo" src="../src/logo4.png" alt="Logo">
						<img class="logo" src="../src/DisMag_2.png" alt="Diseños Mágicos">
					</a>
					<button class="navbar-toggler bot-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0 disp-link">
							<li class="nav-item">
								<a href="Nosotros.html">
									<button class="boton"><span>Nosotros</span></button>
								</a>
							</li>
							<li class="nav-item">
								<a href="Galeria.html">
									<button class="boton"><span>Galeria</span></button>
								</a>
							</li>
							<li class="nav-item">
								<a href="Tienda.html">
									<button class="boton"><span>Tienda</span></button>
								</a>
							</li>
							<li class="nav-item">
								<a href="Contacto.html">
									<button class="boton"><span>Contacto</span></button>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- end nav -->
	</header>
	<div class="styleHeader">
		<img src="../img/header.jpg" alt="">
	</div>
	<div>
		<h1>¿Quieres un disfraz sobre diseño o especial?</h1>
	</div>
	<main class="fomrCompra">
		<form class="div1" action="#">
			<div>
				<fieldset class="formStyle">
					<legend>Contacto:</legend>
					<label for="name">Nombre:</label>
					<input type="text" id="name" placeholder="Laura Marcela García Corcuera y Rivadeneriera">
					<br>
					<label for="email">Email</label>
					<input type="email" id="email" placeholder="correo@algo.com">
					<br>
					<label for="Celular">Teléfono:</label>
					<input type="number" id="Celular" placeholder="3366554422">
				</fieldset>
			</div>
			<div>
				<label class="formStyle" for="mensaje">Mensaje</label>
				<br>
				<textarea class="textZone" name="" id="mensaje" cols="35" rows="10" placeholder="Describe lo más detalladamente posible el disfraz que quieres o indica exactamente el personaje y versión en caso de existir más de uno"></textarea>
				<br>
				<button class="botonSend" type="reset">Cancelar</button>
				<button class="botonSend" type="submit">Enviar</button>
			</div>
		</form>
		<div class="contentSend div2" id="Mapa">
			<h1>Visita nuestra tienda</h1>
			<h2>Te esperamos</h2>
			<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d939.068142101977!2d-103.46047877063901!3d19.70101640000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f86a28a219433%3A0xda2589694b4a7c80!2sCalle%20Prof.%20Manuel%20Ch%C3%A1vez%20Madrue%C3%B1o%20152%2C%20Cd%20Guzm%C3%A1n%20Centro%2C%2049000%20Cd%20Guzman%2C%20Jal.!5e0!3m2!1ses!2smx!4v1653763494749!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="Mapa"></iframe>
		</div>
	</main>
	<footer>
		<div>
			<label class="label"><b>Visita nuestra tienda:</b></label>
			<a class="footerMap" href="Contacto.html#Mapa">Mapa</a>
		</div>
		<div class="logoRedes">
			<a href="https://www.facebook.com/Nunilu-Diseños-Mágicos-Oficial-101256029230490/" target="_blanc">
			<img src="../img/logoFB.png" alt=""></a>
			<a href="https://www.instagram.com" target="_blanc">
			<img src="../img/logoIG.png" alt=""></a>
		</div>
	</footer>
		<!-- Scrip js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<!-- end Scrip js -->
	</body>
</html>