<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nunilu - Diseños Mágicos</title>
		<link rel="shortcut icon" href="../img/favicon.jpg">
		<!-- Bootstrap -->
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../CSS/menuresp.css">
	</head>
	<body>
		<header class="headerNav">
			<!-- nav -->

			<nav class="navbar navbar-expand-lg navbar-light backnav d-flex justify-content-between">
				<div class="container-fluid">
					<a id="logo" href="../index.html" class="logo">
						<img class="logo" src="../src/logo4.png" alt="Logo">
						<img class="logo" src="../src/DisMag_2.png" alt="Diseños Mágicos">
					</a>
					<button class="navbar-toggler bot-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0 disp-link">
							<li class="nav-item">
								<a href="Nosotros.html">
									<button class="boton"><span>Nosotros</span></button>
								</a>
							</li>
							<li class="nav-item">
								<a href="Galeria.html">
									<button class="boton"><span>Galeria</span></button>
								</a>
							</li>
							<li class="nav-item">
								<a href="Tienda.html">
									<button class="boton"><span>Tienda</span></button>
								</a>
							</li>
							<li class="nav-item">
								<a href="Contacto.html">
									<button class="boton"><span>Contacto</span></button>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- end nav -->
		</header>
		<div class="styleHeader">
			<img src="../img/header.jpg" alt="">
		</div>
		<div>
			<h1>La magia hecha realidad</h1>
			<p> En <b>Nunilu Diseños Mágicos</b>, queremos hacer tus sueños realidad, así como algunos de nuestros clientes lo han hecho para sus hijos.
			</p>
		</div>
	
	<main class="container">

		<!-- carousel -->

		<div id="carouselExampleIndicators" class="carousel slide galeriaBoo" data-bs-ride="true">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<a href="../img/Ariel.jpg" target="_black">
						<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Sirenita">
					</a>
				</div>
				<div class="carousel-item">
					<a href="../img/Beast.jpg" target="_black">
						<img class="styleImgFlt" src="../img/Beast.jpg" alt="Bestia">
					</a>
				</div>
				<div class="carousel-item">
					<a href="../img/Sayayin.jpg" target="_black">
						<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="Vegeta">
					</a>
				</div>
				<div class="carousel-item">
					<a href="../img/princes.jpg" target="_black">
						<img class="styleImgFlt" src="../img/princes.jpg" alt="Princes">
					</a>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- end carousel -->

			<!-- flex -->
		<div class="container">
			<div class="row galeriaflex">
				<div class="styleSection col-6 col-lg-3">
					<a href="../img/Ariel.jpg" target="_black">
						<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Sirenita">
					</a>
				</div>
				<div class="styleSection col-6 col-lg-3">
					<a href="../img/Beast.jpg" target="_black">
						<img class="styleImgFlt" src="../img/Beast.jpg" alt="Bestia">
					</a>
				</div>
				<div class="styleSection col-6 col-lg-3">
					<a href="../img/Sayayin.jpg" target="_black">
						<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="Vegeta">
					</a>
				</div>
				<div class="styleSection col-6 col-lg-3">
					<a href="../img/princes.jpg" target="_black">
						<img class="styleImgFlt" src="../img/princes.jpg" alt="Princes">
					</a>
				</div>
			</div>
		</div>	
		<!-- end flex -->

		<div>
			<p> En <b>Nunilu Diseños Mágicos</b>, queremos hacer tus sueños realidad, así como algunos de nuestros clientes lo han hecho para sus hijos.
			</p>
		</div>
	</main>

	<footer>
		<div>
			<label class="label"><b>Visita nuestra tienda:</b></label>
			<a class="footerMap" href="Contacto.html#Mapa">Mapa</a>
		</div>
		<div class="logoRedes">
			<a href="https://www.facebook.com/Nunilu-Diseños-Mágicos-Oficial-101256029230490/" target="_blanc">
			<img src="../img/logoFB.png" alt=""></a>
			<a href="https://www.instagram.com" target="_blanc">
			<img src="../img/logoIG.png" alt=""></a>
		</div>
	</footer>
		<!-- Scrip js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<!-- end Scrip js -->
	</body>
</html>