<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Disfraces de todos los modelos - Nunilu Diseños Mágicos</title>
		<meta name="descripcion" content="¿Buscas un disfraz? contamos con una gran variedad de modelos y líneas de disfraces para niños y adultos.">
		<meta name="keywords" content="Disfraz, disfraces, disfraz de sirenita, disfraz de príncipe, super sayayin, disfraces en Ciudad Guzmán, fabricante de disfraces en México">
		<meta name="author" content="Leopoldo Ramírez">
		<meta name="robots" content="index, follow">
		<link rel="shortcut icon" href="../img/favicon.jpg">
		<!-- Bootstrap -->
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../CSS/main.css">
		<link rel="stylesheet" href="../CSS/fontello.css">
	</head>
	
	<body>
		<header class="headerNav" id="inicio">
			<!-- inica nav -->
			<nav class="navbar navbar-expand-lg navbar-light backnav d-flex justify-content-around">
				<div class="container-fluid">
					<a id="logo" href="../index.html" class="logo">
						<img class="logo" src="../src/LogoNL_4.png" alt="Logotipo de Nunilu">
					<img class="logo mdoculto" src="../src/DisMag_2.png" alt="Logotipo de Diseños Mágicos">
					</a>
				</div>
				<input id="nav-toggle" type="checkbox">
					<ul class="link">
						<li>
							<a href="../views/Nosotros.html">
								<button class="boton"><span>Nosotros</span></button>
							</a>
						</li>
						<li>
							<a href="../views/Galeria.html">
								<button class="boton"><span>Galeria</span></button>
							</a>
						</li>
						<li>
							<a href="../views/Tienda.html">
								<button class="boton"><span>Tienda</span></button>
							</a>
						</li>
						<li>
							<a href="../views/Contacto.html">
								<button class="boton"><span>Contacto</span></button>
							</a>
						</li>
					</ul>
				<label for="nav-toggle" class="icon-burger">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</label>
			</nav>
			<!-- termina nav -->
		</header>

		<div class="styleHeader">
			<img src="../img/header.jpg" alt="imagen intermedia">
		</div>

		<div class="m-3">
			<h1>La magia hecha realidad</h1>
			<p> En <b>Nunilu Diseños Mágicos</b>, queremos hacer tus sueños realidad, así como algunos de nuestros clientes lo han hecho para sus hijos.
			</p>
		</div>
	
	<main class="container">
		<!-- galeria modal -->
		<div class="">
			<div class="row m-5">
				<div class="col-sm-10 col-md-4 col-lg-4 mb-4">
					<a href="#" data-bs-toggle="modal" data-bs-target="#modalImage1">
						<img class="w-100 mb-4 rounded modalimg" src="../img/1.jpg" alt="disfraz de bestia">
					</a>
					<a href="#" data-bs-toggle="modal" data-bs-target="#modalImage2">
						<img class="w-100 mb-4 rounded modalimg" src="../img/13.jpg" alt="disfraz de Minnie Mouse">
					</a>
				</div>
				<div class="col-sm-10 col-md-4 col-lg-4 mb-4">
					<a href="#" data-bs-toggle="modal" data-bs-target="#modalImage3">
						<img class="w-100 mb-4 rounded modalimg" src="../img/12.jpg" alt="disfraz chilindrina">
					</a>
					<a href="#" data-bs-toggle="modal" data-bs-target="#modalImage4">
						<img class="w-100 mb-4 rounded modalimg" src="../img/2.jpg" alt="disfraz de príncipe">
					</a>
				</div>
				<div class="col-sm-10 col-md-4 col-lg-4 mb-4">
					<a href="#" data-bs-toggle="modal" data-bs-target="#modalImage5">
						<img class="w-100 mb-4 rounded modalimg" src="../img/5.jpg" alt="disfraz regional">
					</a>
					<a href="#" data-bs-toggle="modal" data-bs-target="#modalImage6">
						<img class="w-100 mb-4 rounded modalimg" src="../img/15.jpg" alt="disfraz de come galletas para niña">
					</a>
				</div>
			</div>
			
			<div tabindex="-1" aria-labelledby="modalImage1" aria-hidden="true" class="modal fade" id="modalImage1">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="../img/1.jpg" alt="disfraz de bestia">
					</div>
				</div>
			</div>
			<div tabindex="-1" aria-labelledby="modalImage2" aria-hidden="true" class="modal fade" id="modalImage2">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="../img/13.jpg" alt="disfraz de Minnie Mouse">
					</div>
				</div>
			</div>
			<div tabindex="-1" aria-labelledby="modalImage3" aria-hidden="true" class="modal fade" id="modalImage3">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="../img/12.jpg" alt="disfraz chilindrina">
					</div>
				</div>
			</div>
			<div tabindex="-1" aria-labelledby="modalImage4" aria-hidden="true" class="modal fade" id="modalImage4">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="../img/2.jpg" alt="disfraz de príncipe">
					</div>
				</div>
			</div>
			<div tabindex="-1" aria-labelledby="modalImage5" aria-hidden="true" class="modal fade" id="modalImage5">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="../img/5.jpg" alt="disfraz regional">
					</div>
				</div>
			</div>
			<div tabindex="-1" aria-labelledby="modalImage6" aria-hidden="true" class="modal fade" id="modalImage6">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<img src="../img/15.jpg" alt="disfraz de cara">
					</div>
				</div>
			</div>
		</div>	
			<!-- end galeria modal -->

	</main>

		<div class="contenedor">
			<input type="checkbox" id="btn-mas">
			<div class="redes">
				<a href="https://www.facebook.com/Nunilu-Dise%C3%B1os-M%C3%A1gicos-Oficial-101256029230490" class="icon-facebook" target="_blank"></a>
				<a href="https://www.instagram.com" class="icon-instagram" target="_blank"></a>
				<a href="https://api.whatsapp.com/send?phone=523411677138" class="icon-whatsapp" target="_blank"></a>
				<a href="Contacto.html#Mapa" class="icon-location"></a>
			</div>
			<div class="btn-mas">
				<label for="btn-mas" class="icon-plus">	</label>
			</div>
		</div>

		<div class="contenedorup">
			<div>
				<a href="#inicio">
					<label class="icon-angle-circled-up"></label>
				</a>
			</div>
		</div>

	<footer class="styleFooter">
		<div class="d-flex justify-content-center">
			<label class="label"><b>¡Nunilu! La Fábrica de sueños</b>
				<br>Contáctanos en nuetras redes sociales 
			</label>
		</div>
	</footer>
		<!-- Scrip js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<!-- end Scrip js -->
	</body>
</html>