<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nunilu - Diseños Mágicos</title>
	<link rel="shortcut icon" href="../img/favicon.jpg">
	<!-- CSS -->
	<link rel="stylesheet" href="../CSS/menuresp.css">
</head>
<body>
	<header>
		<a id="logo" href="../index.html" class="logo">
			<img class="logo" src="../src/logo4.png" alt="Logo">
		</a>
		<a id="logo" href="../index.html" class="logo">
			<img class="logo" src="../src/DisMag_2.png" alt="Diseños Mágicos">
		</a>
		<nav>
			<a class="navLink" href="Nosotros.html">Nosotros</a>
			<a class="navLink" href="Galeria.html">Galeria</a>
			<a class="navLink" href="Tienda.html">Tienda</a>
			<a class="navLink" href="Contacto.html">Contacto</a>
		</nav>
	</header>
	<div class="styleHeader">
		<img src="../img/header.jpg" alt="">
	</div>
	<div>
		<h1>La magia hecha realidad</h1>
		<p> En <b>Nunilu Diseños Mágicos</b>, queremos hacer tus sueños realidad, así como algunos de nuestros clientes lo han hecho para sus hijos.
		</p>
	</div>
<main class="imag">
	<div class="styleSection div1">
		<a href="../img/Ariel.jpg" target="_black">
			<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Sirenita">
		</a>
	</div>
	<div class="styleSection div2">
		<a href="../img/Beast.jpg" target="_black">
			<img class="styleImgFlt" src="../img/Beast.jpg" alt="Bestia">
		</a>
	</div>
	<div class="styleSection div3">
		<a href="../img/Sayayin.jpg" target="_black">
			<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="Vegeta">
		</a>
	</div>
	<div class="styleSection div4">
		<a href="../img/princes.jpg" target="_black">
			<img class="styleImgFlt" src="../img/princes.jpg" alt="Princes">
		</a>
	</div>
</main>

<footer>
	<div>
		<label class="label"><b>Visita nuestra tienda:</b></label>
		<a class="footerMap" href="Contacto.html#Mapa">Mapa</a>
	</div>
	<div class="logoRedes">
	   <a href="https://www.facebook.com/Nunilu-Diseños-Mágicos-Oficial-101256029230490/" target="_blanc">
	   <img src="../img/logoFB.png" alt=""></a>
	   <a href="https://www.instagram.com" target="_blanc">
	   <img src="../img/logoIG.png" alt=""></a>
   </div>
</footer>
</body>
</html>