<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nunilu - Diseños Mágicos</title>
	<link rel="shortcut icon" href="../img/favicon.jpg">
	<!-- CSS -->
	<link rel="stylesheet" href="../CSS/menuresp.css">
</head>
<body>
	<header>
		<a id="logo" href="../index.html" class="logo">
			<img class="logo" src="../src/logo4.png" alt="Logo">
		</a>
		<a id="logo" href="../index.html" class="logo">
			<img class="logo" src="../src/DisMag_2.png" alt="Diseños Mágicos">
		</a>
		<nav>
			<a class="navLink" href="Nosotros.html">Nosotros</a>
			<a class="navLink" href="Galeria.html">Galeria</a>
			<a class="navLink" href="Tienda.html">Tienda</a>
			<a class="navLink" href="Contacto.html">Contacto</a>
		</nav>
	</header>
 	<div class="styleHeader">
 		<img src="../img/header.jpg" alt="">
 	</div>
 	<main class="mainUs">
 		<div class="styleSection">
 			<img class="styleImgFlt" src="../img/loro.jpg" alt="Disfraz de loro azúl">
 			<h1>Así inicia la magia</h1>
  			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus mollitia esse tenetur veniam nam labore libero ullam consequuntur nisi id vero sed rem, veritatis blanditiis similique quisquam velit ipsa illo!</p>
 		</div>
 		<div class="styleSection">
 			<img class="styleImgFlt" src="../img/pollo.jpg" alt="Disfraz de pollo">
 			<h1>Misión y objetivo</h1>
 			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, veniam ad cum necessitatibus laboriosam suscipit expedita fugiat molestiae libero ipsum voluptatibus neque quasi molestias hic exercitationem repellendus saepe obcaecati, eveniet?<br>
 			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae incidunt aliquid architecto optio perferendis reprehenderit ipsum consequatur doloremque fuga illum tempora assumenda cum voluptatibus accusantium voluptates nam, rem, quidem?</p>
 		</div>	
 	</main>
	 <footer>
		<div>
			<label class="label"><b>Visita nuestra tienda:</b></label>
			<a class="footerMap" href="Contacto.html#Mapa">Mapa</a>
		</div>
		<div class="logoRedes">
		   <a href="https://www.facebook.com/Nunilu-Diseños-Mágicos-Oficial-101256029230490/" target="_blanc">
		   <img src="../img/logoFB.png" alt=""></a>
		   <a href="https://www.instagram.com" target="_blanc">
		   <img src="../img/logoIG.png" alt=""></a>
	   </div>
	</footer>
</body>
</html>