<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nunilu - Diseños Mágicos</title>
	<link rel="shortcut icon" href="../img/favicon.jpg">
	<!-- CSS -->
	<link rel="stylesheet" href="../CSS/menuresp.css">
</head>
<body>
	<header>
		<a href="../index.html" class="logo">
			<img class="logo" src="../src/logoNL_4.png" alt="Logo">
			<img class="logo" src="../src/DisMag_2.png" alt="Diseños Mágicos">
		</a>
		<nav>
			<a class="navLink" href="Nosotros.html">Nosotros</a>
			<a class="navLink" href="Galeria.html">Galeria</a>
			<a class="navLink" href="Tienda.html">Tienda</a>
			<a class="navLink" href="Contacto.html">Contacto</a>
		</nav>
	</header>
	<div class="styleHeader">
		<img src="../img/header.jpg" alt="">
	</div>
	<div>
		<h1>Productos Destacados</h1>
	</div>
	<main class="imag">
		<div class="content div1">
			<form action="#">
				<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="Sayayin">
						<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
						<label>Talla</label>
						<select class="style" name="Talla">
							<option value="Chica">Chica</option>
							<option value="Mediana">Mediana</option>
							<option value="Grande">Grande</option>
							<option value="Extra Grande">Extra Grande</option>
						</select>
						<label for="Modelo">Modelo</label>
						<select class="style" name="Modelo">
							<option value="Sysyn01">Vegeta</option>
							<option value="Sysyn02">Gokú</option>
						</select>
						<br>
						<label for="accesorios">Accesorios</label>
						<input type="checkbox" id="accesorios" value="Accesorios" class="check">
						<select class="accesorios" name="Accesorio">
							<option value="Cola">Cola</option>
							<option value="Rastreador">Rastreador</option>
							<option value="SuperS">Peluca Súper Sayayin</option>
						</select>
						<br>
							<button class="boton" type="reset">Cancelar</button>
							<button class="boton" type="submit">Agregar</button>
						</fieldset>
				</form>
		</div>
		<div class="content div2">
			<form action="#">
				<img class="styleImgFlt" src="../img/princes.jpg" alt="Princesa">
				<fieldset class="formStyle">
				<legend>Info del disfraz</legend>
				<label>Talla</label>
				<select class="style"  name="Talla">
					<option value="Chica">Chica</option>
					<option value="Mediana">Mediana</option>
					<option value="Grande">Grande</option>
					<option value="Extra Grande">Extra Grande</option>
				</select>
				<label for="Modelo">Modelo</label>
				<select class="style"  name="Modelo">
					<option value="Prndsn01">Azúl</option>
					<option value="Prndsn02">Rosa</option>
				</select>
				<br>
				<label for="accesorios">Accesorios</label>
				<input type="checkbox" id="accesorios" value="Accesorios" class="check">
				<select class="accesorios" name="Accesorio">
					<option value="Capa">Capa</option>
					<option value="Corona">Corona</option>
					<option value="Cetro">Cetro</option>
				</select>
					<br>
					<button class="boton" type="reset">Cancelar</button>
					<button class="boton" type="submit">Agregar</button>
				</fieldset>
			</form>
		</div>
		<div class="content div3">
			<form action="#">
				<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Disfraz de Sirenita">
					<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
					<label>Talla</label>
					<select class="style" name="Talla" id="">
						<option value="Chica">Chica</option>
						<option value="Mediana">Mediana</option>
						<option value="Grande">Grande</option>
						<option value="Extra Grande">Extra Grande</option>
					</select>
					<label for="Modelo">Modelo</label>
					<select class="style" name="Modelo">
						<option value="Srnta01">Verde</option>
						<option value="Srnta02">Morado</option>
					</select>
					<br>
					<label for="accesorios">Accesorios</label>
					<input type="checkbox" id="accesorios" value="Accesorios" class="check">
					<select class="accesorios" name="Accesorio" id="">
						<option value="Estrella">Estrella de mar</option>
						<option value="Peluca">Peluca Roja</option>
					</select>
						<br>
						<button class="boton" type="reset">Cancelar</button>
						<button class="boton" type="submit">Agregar</button>
					</fieldset>
			</form>
		</div>
		<div class="content div4">
			<form action="#">
				<img class="styleImgFlt" src="../img/ipo.jpg" alt="ipo">
						<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
						<label>Talla</label>
						<select class="style" name="Talla">
							<option value="Chica">Chica</option>
							<option value="Mediana">Mediana</option>
							<option value="Grande">Grande</option>
							<option value="Extra Grande">Extra Grande</option>
						</select>
						<label for="Modelo">Modelo</label>
						<select class="style" name="Modelo">
							<option value="Sysyn01">Hipo</option>
							<option value="Sysyn02">Astrid</option>
						</select>
						<br>
						<label for="accesorios">Accesorios</label>
						<input type="checkbox" id="accesorios" value="Accesorios" class="check">
						<select class="accesorios" name="Accesorio">
							<option value="Casco">Casco</option>
							<option value="Escudo">Escudo</option>
							<option value="Espada">Espada</option>
						</select>
						<br>
							<button class="boton" type="reset">Cancelar</button>
							<button class="boton" type="submit">Agregar</button>
						</fieldset>
				</form>
		</div>
	</main>
	<div class="formGrid">
		<div class="contentSend div5">
			<fieldset class="formStyle">
				<legend>Información de compra:</legend>
				<label for="name">Nombre:</label>
				<input type="text" id="name" placeholder="Laura Marcela García Corcuera y Rivadeneriera">
				<br>
				<label for="email">Email</label>
				<input type="email" id="email" placeholder="correo@algo.com">
				<br>
				<label for="Celular">Teléfono:</label>
				<input type="number" id="Celular" placeholder="3366554422">
			</fieldset>
		</div>
		<div class="contentSend div6">
			<fieldset class="formStyle">
				<legend>Info de envío</legend>
				<label for="local">Retiro en tienda</label>
				<input type="radio" id="local" name="envío" value="local">
				<br>
				<label for="personal">Entrega personal (Solo en Gúzman)</label>
				<input type="radio" id="personal" name="envío" value="personal">
				<br>
				<label for="domicilio">Envío a domicilio</label>
				<input type="radio" id="domicilio" name="envío" value="domicilio" class="check">
				<select class="accesorios" name="Provinicia" >
					<option value="Guadalajara">Guadalajara</option>
					<option value="Ciudad de México">Ciudad de México</option>
					<option value="Monterrey">Monterrey</option>
				</select>
			</fieldset>
			<label class="formStyle" for="mensaje"> Mensaje</label>
			<br>
			<textarea class="textZone" name="" id="mensaje" cols="35" rows="10"></textarea>
			<button class="botonSend" type="submit">Enviar</button>
		</div>
	</div>	
	<footer>
		<div>
			<label class="label"><b>Visita nuestra tienda:</b></label>
			<a class="footerMap" href="Contacto.html#Mapa">Mapa</a>
		</div>
		<div class="logoRedes">
		   <a href="https://www.facebook.com/Nunilu-Diseños-Mágicos-Oficial-101256029230490/" target="_blanc">
		   <img src="../img/logoFB.png" alt=""></a>
		   <a href="https://www.instagram.com" target="_blanc">
		   <img src="../img/logoIG.png" alt=""></a>
	   </div>
		</div>	
	</footer>
	</body>
	</html>