<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nunilu - Tienda en línea</title>
		<meta name="descripcion" content="Contamos con la mas grande variedad de disfraces hechos a la medida.">
		<meta name="keywords" content="Disfraz, disfraces, compras de disfraz, modelos de disfraces, disfraces de Dragon Ball, DBZ, Sayayin, Sirena, Sirenita, dragón, Hipo, disfraz de Hipo, Como entrenar a tu dragón, disfraces en Ciudad Guzmán, fabricante de disfraces en México">
		<meta name="author" content="Leopoldo Ramírez">
		<meta name="robots" content="index, follow">
		<link rel="shortcut icon" href="../img/favicon.jpg">
		<!-- Bootstrap -->
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../CSS/main.css">
		<link rel="stylesheet" href="../CSS/fontello.css">
	</head>

	<body>
		<header class="headerNav" id="inicio">
			<!-- inica nav -->
			<nav class="navbar navbar-expand-lg navbar-light backnav d-flex justify-content-around">
				<div class="container-fluid">
					<a id="logo" href="../index.html" class="logo">
						<img class="logo" src="../src/LogoNL_4.png" alt="Logotipo de Nunilu">
					<img class="logo mdoculto" src="../src/DisMag_2.png" alt="Logotipo de Diseños Mágicos">
					</a>
				</div>
				<input id="nav-toggle" type="checkbox">
					<ul class="link">
						<li>
							<a href="../views/Nosotros.html">
								<button class="boton"><span>Nosotros</span></button>
							</a>
						</li>
						<li>
							<a href="../views/Galeria.html">
								<button class="boton"><span>Galeria</span></button>
							</a>
						</li>
						<li>
							<a href="../views/Tienda.html">
								<button class="boton"><span>Tienda</span></button>
							</a>
						</li>
						<li>
							<a href="../views/Contacto.html">
								<button class="boton"><span>Contacto</span></button>
							</a>
						</li>
					</ul>
				<label for="nav-toggle" class="icon-burger">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</label>
			</nav>
			<!-- termina nav -->
		</header>
		<div class="styleHeader">
			<img src="../img/header.jpg" alt="imagen intermedia">
		</div>
		<div>
			<h1>Productos Destacados</h1>
		</div>
		
		<main class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="disfraz de Vegeta">
								<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Vegueta">Vegeta</option>
									<option value="Goku">Gokú</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Cola">Cola</option>
									<option value="Rastreador">Rastreador</option>
									<option value="SuperS">Peluca Súper Sayayin</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
								</fieldset>
						</form>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/princes.jpg" alt="disfraz de Princesa rosa">
						<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
						<label>Talla</label>
						<select class="style"  name="Talla">
							<option value="Chica">Chica</option>
							<option value="Mediana">Mediana</option>
							<option value="Grande">Grande</option>
							<option value="Ex Grande">Ex Grande</option>
						</select>
						<label for="Modelo">Modelo</label>
						<select class="style m-3"  name="Modelo">
							<option value="Prndsn01">Azúl</option>
							<option value="Prndsn02">Rosa</option>
						</select>
						<br>
						<label for="accesorios">Accesorios</label>
						<input type="checkbox" id="accesorios" value="Accesorios" class="check">
						<select class="accesorios" name="Accesorio">
							<option value="Capa">Capa</option>
							<option value="Corona">Corona</option>
							<option value="Cetro">Cetro</option>
						</select>
							<br>
							<div class="m-3">
								<button class="boton" type="reset"><span>Cancelar</span></button>
								<button class="boton" type="submit"><span>Agregar</span></button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Disfraz de Sirenita">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
							<label>Talla</label>
							<select class="style" name="Talla" id="">
								<option value="Chica">Chica</option>
								<option value="Mediana">Mediana</option>
								<option value="Grande">Grande</option>
								<option value="Extra Grande">Ex Grande</option>
							</select>
							<label for="Modelo">Modelo</label>
							<select class="style m-3" name="Modelo">
								<option value="Srnta01">Verde</option>
								<option value="Srnta02">Morado</option>
							</select>
							<br>
							<label for="accesorios">Accesorios</label>
							<input type="checkbox" id="accesorios" value="Accesorios" class="check">
							<select class="accesorios" name="Accesorio" id="">
								<option value="Estrella">Estrella de mar</option>
								<option value="Peluca">Peluca Roja</option>
							</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/ipo.jpg" alt="disfraz de Hipo">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Sysyn01">Hipo</option>
									<option value="Sysyn02">Astrid</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Casco">Casco</option>
									<option value="Escudo">Escudo</option>
									<option value="Espada">Espada</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="disfraz de Vegeta">
								<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Vegueta">Vegeta</option>
									<option value="Goku">Gokú</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Cola">Cola</option>
									<option value="Rastreador">Rastreador</option>
									<option value="SuperS">Peluca Súper Sayayin</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
								</fieldset>
						</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/princes.jpg" alt="disfraz de Princesa rosa">
						<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
						<label>Talla</label>
						<select class="style"  name="Talla">
							<option value="Chica">Chica</option>
							<option value="Mediana">Mediana</option>
							<option value="Grande">Grande</option>
							<option value="Ex Grande">Ex Grande</option>
						</select>
						<label for="Modelo">Modelo</label>
						<select class="style m-3"  name="Modelo">
							<option value="Prndsn01">Azúl</option>
							<option value="Prndsn02">Rosa</option>
						</select>
						<br>
						<label for="accesorios">Accesorios</label>
						<input type="checkbox" id="accesorios" value="Accesorios" class="check">
						<select class="accesorios" name="Accesorio">
							<option value="Capa">Capa</option>
							<option value="Corona">Corona</option>
							<option value="Cetro">Cetro</option>
						</select>
							<br>
							<div class="m-3">
								<button class="boton" type="reset"><span>Cancelar</span></button>
								<button class="boton" type="submit"><span>Agregar</span></button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Disfraz de Sirenita">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
							<label>Talla</label>
							<select class="style" name="Talla" id="">
								<option value="Chica">Chica</option>
								<option value="Mediana">Mediana</option>
								<option value="Grande">Grande</option>
								<option value="Extra Grande">Ex Grande</option>
							</select>
							<label for="Modelo">Modelo</label>
							<select class="style m-3" name="Modelo">
								<option value="Srnta01">Verde</option>
								<option value="Srnta02">Morado</option>
							</select>
							<br>
							<label for="accesorios">Accesorios</label>
							<input type="checkbox" id="accesorios" value="Accesorios" class="check">
							<select class="accesorios" name="Accesorio" id="">
								<option value="Estrella">Estrella de mar</option>
								<option value="Peluca">Peluca Roja</option>
							</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/ipo.jpg" alt="disfraz de Hipo">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Sysyn01">Hipo</option>
									<option value="Sysyn02">Astrid</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Casco">Casco</option>
									<option value="Escudo">Escudo</option>
									<option value="Espada">Espada</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="disfraz de Vegeta">
								<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Vegueta">Vegeta</option>
									<option value="Goku">Gokú</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Cola">Cola</option>
									<option value="Rastreador">Rastreador</option>
									<option value="SuperS">Peluca Súper Sayayin</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
								</fieldset>
						</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/princes.jpg" alt="disfraz de Princesa rosa">
						<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
						<label>Talla</label>
						<select class="style"  name="Talla">
							<option value="Chica">Chica</option>
							<option value="Mediana">Mediana</option>
							<option value="Grande">Grande</option>
							<option value="Ex Grande">Ex Grande</option>
						</select>
						<label for="Modelo">Modelo</label>
						<select class="style m-3"  name="Modelo">
							<option value="Prndsn01">Azúl</option>
							<option value="Prndsn02">Rosa</option>
						</select>
						<br>
						<label for="accesorios">Accesorios</label>
						<input type="checkbox" id="accesorios" value="Accesorios" class="check">
						<select class="accesorios" name="Accesorio">
							<option value="Capa">Capa</option>
							<option value="Corona">Corona</option>
							<option value="Cetro">Cetro</option>
						</select>
							<br>
							<div class="m-3">
								<button class="boton" type="reset"><span>Cancelar</span></button>
								<button class="boton" type="submit"><span>Agregar</span></button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Disfraz de Sirenita">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
							<label>Talla</label>
							<select class="style" name="Talla" id="">
								<option value="Chica">Chica</option>
								<option value="Mediana">Mediana</option>
								<option value="Grande">Grande</option>
								<option value="Extra Grande">Ex Grande</option>
							</select>
							<label for="Modelo">Modelo</label>
							<select class="style m-3" name="Modelo">
								<option value="Srnta01">Verde</option>
								<option value="Srnta02">Morado</option>
							</select>
							<br>
							<label for="accesorios">Accesorios</label>
							<input type="checkbox" id="accesorios" value="Accesorios" class="check">
							<select class="accesorios" name="Accesorio" id="">
								<option value="Estrella">Estrella de mar</option>
								<option value="Peluca">Peluca Roja</option>
							</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/ipo.jpg" alt="disfraz de Hipo">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Sysyn01">Hipo</option>
									<option value="Sysyn02">Astrid</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Casco">Casco</option>
									<option value="Escudo">Escudo</option>
									<option value="Espada">Espada</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Sayayin.jpg" alt="disfraz de Vegeta">
								<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Vegueta">Vegeta</option>
									<option value="Goku">Gokú</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Cola">Cola</option>
									<option value="Rastreador">Rastreador</option>
									<option value="SuperS">Peluca Súper Sayayin</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
								</fieldset>
						</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/princes.jpg" alt="disfraz de Princesa rosa">
						<fieldset class="formStyle">
						<legend>Info del disfraz</legend>
						<label>Talla</label>
						<select class="style"  name="Talla">
							<option value="Chica">Chica</option>
							<option value="Mediana">Mediana</option>
							<option value="Grande">Grande</option>
							<option value="Ex Grande">Ex Grande</option>
						</select>
						<label for="Modelo">Modelo</label>
						<select class="style m-3"  name="Modelo">
							<option value="Prndsn01">Azúl</option>
							<option value="Prndsn02">Rosa</option>
						</select>
						<br>
						<label for="accesorios">Accesorios</label>
						<input type="checkbox" id="accesorios" value="Accesorios" class="check">
						<select class="accesorios" name="Accesorio">
							<option value="Capa">Capa</option>
							<option value="Corona">Corona</option>
							<option value="Cetro">Cetro</option>
						</select>
							<br>
							<div class="m-3">
								<button class="boton" type="reset"><span>Cancelar</span></button>
								<button class="boton" type="submit"><span>Agregar</span></button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/Ariel.jpg" alt="Disfraz de Sirenita">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
							<label>Talla</label>
							<select class="style" name="Talla" id="">
								<option value="Chica">Chica</option>
								<option value="Mediana">Mediana</option>
								<option value="Grande">Grande</option>
								<option value="Extra Grande">Ex Grande</option>
							</select>
							<label for="Modelo">Modelo</label>
							<select class="style m-3" name="Modelo">
								<option value="Srnta01">Verde</option>
								<option value="Srnta02">Morado</option>
							</select>
							<br>
							<label for="accesorios">Accesorios</label>
							<input type="checkbox" id="accesorios" value="Accesorios" class="check">
							<select class="accesorios" name="Accesorio" id="">
								<option value="Estrella">Estrella de mar</option>
								<option value="Peluca">Peluca Roja</option>
							</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
				<div class="col-11 col-md-6 col-lg-3">
					<form action="#">
						<img class="styleImgFlt" src="../img/ipo.jpg" alt="disfraz de Hipo">
							<fieldset class="formStyle">
								<legend>Info del disfraz</legend>
								<label>Talla</label>
								<select class="style" name="Talla">
									<option value="Chica">Chica</option>
									<option value="Mediana">Mediana</option>
									<option value="Grande">Grande</option>
									<option value="Extra Grande">Ex Grande</option>
								</select>
								<label for="Modelo">Modelo</label>
								<select class="style m-3" name="Modelo">
									<option value="Sysyn01">Hipo</option>
									<option value="Sysyn02">Astrid</option>
								</select>
								<br>
								<label for="accesorios">Accesorios</label>
								<input type="checkbox" id="accesorios" value="Accesorios" class="check">
								<select class="accesorios" name="Accesorio">
									<option value="Casco">Casco</option>
									<option value="Escudo">Escudo</option>
									<option value="Espada">Espada</option>
								</select>
								<br>
								<div class="m-3">
									<button class="boton" type="reset"><span>Cancelar</span></button>
									<button class="boton" type="submit"><span>Agregar</span></button>
								</div>
							</fieldset>
					</form>
				</div>
			</div>
		</main>
		
		<div class="container-fluid">
			<div class="row">
				<form class="g-3 mt-3 col-11 col-md-4 col-lg-4">
					<div>
						<label for="nombre" class="formStyle_1">Nombre</label>
						<input type="text" class="form-control" id="nombre" placeholder="Laura Marcela García Corcuera y Rivadeneira">
						<label for="email" class="formStyle_1">E-mail</label>
						<input type="email" class="form-control" id="email" placeholder="layoyis@mail.com">
						<label for="telefono" class="formStyle_1">Teléfono</label>
						<input type="text" class="form-control" id="telefono" placeholder="3355441166">
						<fieldset class="formStyle_1">
							<legend>Info de envío</legend>
							<input type="radio" id="local" name="envío" value="local">
							<label for="local">Retiro en tienda</label>
							<br>
							<input type="radio" id="personal" name="envío" value="personal">
							<label for="personal">Entrega personal (Solo en Gúzman)</label>
							<br>
							<input type="radio" id="domicilio" name="envío" value="domicilio" class="check">
							<select class="accesorios" name="Provinicia" >
								<option value="Guadalajara">Guadalajara</option>
								<option value="Ciudad de México">Ciudad de México</option>
								<option value="Monterrey">Monterrey</option>
							</select>
							<label for="domicilio">Envío a domicilio</label>
						</fieldset>
					</div>
				</form>
				<div class="col-12 col-md-6 col-lg-8">
					<div>
						<label class="formStyle_1" for="mensaje"> Mensaje</label>
						<br>
						<textarea class="textZone form-control col-12" name="" id="mensaje" cols="30" rows="10"></textarea>
						<button class="botonSend" type="submit"><span>Enviar</span></button>
					</div>
				</div>
			</div>

			<div class="row">
				
			</div>
		</div>		
		<div class="contenedor">
			<input type="checkbox" id="btn-mas">
			<div class="redes">
				<a href="https://www.facebook.com/Nunilu-Dise%C3%B1os-M%C3%A1gicos-Oficial-101256029230490" class="icon-facebook" target="_blank"></a>
				<a href="https://www.instagram.com" class="icon-instagram" target="_blank"></a>
				<a href="https://api.whatsapp.com/send?phone=523411677138" class="icon-whatsapp" target="_blank"></a>
				<a href="Contacto.html#Mapa" class="icon-location"></a>
			</div>
			<div class="btn-mas">
				<label for="btn-mas" class="icon-plus">	</label>
			</div>
		</div>

		<div class="contenedorup">
			<div>
				<a href="#inicio">
					<label class="icon-angle-circled-up"></label>
				</a>
			</div>
		</div>

	<footer class="styleFooter">
		<div class="d-flex justify-content-center">
			<label class="label"><b>¡Nunilu! La Fábrica de sueños</b>
				<br>Contáctanos en nuetras redes sociales 
			</label>
		</div>
	</footer>
			<!-- Scrip js -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			<!-- end Scrip js -->
	</body>
</html>